
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 700px;
	height: 700px;
	background-color: rgb(245, 239, 231);
	margin: 20px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(240, 203, 102);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(234, 240, 181);
	padding: 20px;
}
